@media only screen and (max-width: 425px) {

  .left-block{
    width: 100%;
    clear: both;
    float: none;
  }

  .badge-actions{
    margin: 0px 0 20px;
    padding: 0px;
    display: block;
    clear: both;
  }

  .badge-actions a{
    width: 100%;
    margin: 0px;
    display: block;
    clear: both;
    flex: initial;
  }

  .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce div.product .product_title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .woocommerce div.product form.cart{
    text-align: center;
  }

  .woocommerce div.product form.cart div.quantity{
    display: inline-block;
    margin: 15px 0px;
    float: none;
  }

  .woocommerce div.product form.cart .button{
    width: 100% !important;
    display: block;
  }

  .woocommerce div.product p.stock{
    display: block;
    text-align: center;
  }

  .woocommerce-pagination:first-of-type{
    position: relative;
    top: 0px;
    text-align: center;
    display: block;
    clear: both;
    margin-bottom: -20px;
  }

  .fabfw-select-address-container .woocommerce-input-wrapper label{
    width: 100%;
    display: block;
    clear: both;
  }

  .woocommerce_thank_you{

    .left,
    .right{
      width: 100%;
      display: block;
      clear: both;
    }

  }

  .woocommerce_thank_you_block{

    .payment_info{
      padding-top: 20px;
    }

  }

}