$primary-blue: #172B52;

$badges: #ed008c;
$trails: #33b5a6;
$tales: #f2c70f;
$trust: #ff9e33;

$craft: #ff9d33;
$games: #2096fb;
$other: #9933ff;
$food: #00aa4f;

$white: #ffffff;

.trust-background {
  background-color: $trust;
  color: $white;
}

.tales-background {
  background-color: $tales;
}

.trails-background {
  background-color: $trails;
}

.badges-background {
  background-color: $badges;
  color: $white;
}

.primary-background {
  background-color: $primary-blue;
  color: $white;
}