@media only screen and (max-width: 625px) {
  #content {
    padding-top: 0;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding: 0;
  }
  .grid-container.footer-1 {
    padding: 0;
  }
}