.homepage-banner-text-block > .vc_column-inner{
  padding-right: 300px !important;
  background-size: 350px auto !important;
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
}
.jamie-charlotte-welcome {
  > div {
    background-position: right bottom;
    background-size: 35%;
    background-repeat: no-repeat;
  }
}